@charset "UTF-8";

/* id = Apenas 1 id por tag
   class = varias tag por class
*/
body{
    background-color: #faebd7;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}
#principal{
    text-align: center;
    background-color: rgb(65, 64, 64);
}
h1{
    color: rgb(109, 102, 92);
}

h2{
    color: rgb(0, 0, 0);
}

.basico{
    color: cadetblue;
}

.destaque{
    background-color: #7A7369;
    font-weight: bold;
}

.color{
    color: coral;
}
